

.sx-form-buttons {
    padding-top: 10px;
    padding-bottom: 10px;
}


/**
 * Grids
 */
.sx-grid-checkbox {
    width: 17px;
}

.sx-grid-actions {
    width: 40px;
}



/**
 * Showings
 */
.sx-backend-showing-tabs.nav-tabs>li>a
{
    background: #f9f9f9;
    border: 1px solid #ddd;
}
.sx-backend-showing-tabs.nav-tabs>li.active>a
{
    font-weight: bold;
}

