.sx-backend-filters-form {
    box-shadow: inset 0 1px 0 #fff;
    background: #f9f9f9;
    /* border-radius: 0px 4px 4px 4px; */
    /* border-bottom: 1px solid #adbdca; */
    /* border-right: 1px solid #adbdca; */
    /* border-top: 1px solid #adbdca; */
    /* border-left: 1px solid #adbdca; */
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-color: #d6dfe1 #ced7d8 #969d9e #bec7c8;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-top: 0px;
}

.sx-field-config-controll {
    line-height: 34px;
}


.sx-backend-filters-form .form-group .sx-field-config-controll {
    display: none;
}
.sx-backend-filters-form .form-group .sx-field-config-controll .sx-move {
    cursor: move;
}
.sx-backend-filters-form .form-group .sx-field-config-controll a {
    color: silver;
}
.sx-backend-filters-form .form-group:hover .sx-field-config-controll {
    display: block;
}


.sx-backend-filters-form .form-group:hover
{
    background: rgba(93, 195, 231, 0.15);
}

.sx-backend-filters-form .form-group
{
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
}

.sx-backend-filters-form.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.sx-grid-checkbox {
    width: 17px;
}

.sx-grid-actions {
    width: 40px;
}


.sx-form-buttons {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sx-backend-showing-tabs.nav-tabs>li>a
{
    background: #f9f9f9;
    border: 1px solid #ddd;
}
.sx-backend-showing-tabs.nav-tabs>li.active>a
{
    font-weight: bold;
}


