/** Backend forms */

form.sx-backend-form
{
    border: 1px solid rgba(32, 168, 216, 0.23);
    padding: 10px;
}

    form.sx-backend-form .error-summary
    {
        background: #fee5e5;
        border-color: #f86c6b;
        color: #c10a09;
        padding: 15px;
        margin-bottom: 10px;
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px;
        border-color: transparent;
    }

        form.sx-backend-form .error-summary p
        {
            font-weight: bold;
        }

    form.sx-backend-form .hint-block:hover {
        opacity: 1;
    }

    form.sx-backend-form .hint-block
    {
        font-size: 11px;
        opacity: 0.6;
    }

    form.sx-backend-form .sx-from-required
    {
        color: red;
    }

        form.sx-backend-form .tab-content
        {
            background: #ffffff;
        }

    form.sx-backend-form .sx-buttons-standart-wrapper {
        margin-top: 15px;
    }

    form.sx-backend-form .sx-buttons-standart-wrapper .sx-btns-group {
        margin-left: 30px;
    }

    form.sx-backend-form .sx-buttons-standart
    {
        /*border-top: 1px solid #ddd;*/
        padding-top: 10px;
        margin-bottom: 0px;
        /*margin-top: 15px;*/
    }

.sx-input-int
{
    max-width: 20%;
}

    form.sx-backend-form .nav-tabs>li>a
    {
        font-size: 14px;
    }



.sx-backend-form .error-summary
{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background: #fee5e5;
    color: #c10a09;
    border-radius: 2px;
    border-color: transparent!important;
}
    .sx-backend-form .error-summary p
    {
        font-weight: bold;
    }


form.sx-backend-form .form-group {
    padding: 4px 15px;
    margin-bottom: 0px;
}

form.sx-backend-form .form-group:hover {
    background: #f5f5f5;
}

form.sx-backend-form {
    border: 0px;
    padding: 0px;
    background: #f9f9f9;
    padding-bottom: 10px;
}

form.sx-backend-form .tab-content {
    background: #f5f9f9;
    padding: 0px;
    border: 0px;
}

.sx-form-fieldset:hover .sx-form-fieldset-title:after {
    opacity: 0.7;
}

.sx-form-fieldset.sx-field-set-hidden .sx-form-fieldset-title:after {
    content: "\e90d";
    font-size: 10px;
}

.sx-form-fieldset .sx-form-fieldset-title:after {
    content: "\e910";
    font-family: 'hs-admin-icons' !important;
    margin-left: 13px;
    opacity: 0.4;
    font-size: 10px;
}

.sx-form-fieldset .sx-form-fieldset-content .form-group:last-child {
    padding-bottom: 15px;
}
.sx-form-fieldset .sx-form-fieldset-content .form-group:first-child {
    padding-top: 15px;
}

.sx-form-fieldset-title {
    background: #ececec;
    padding: 8px 15px 10px!important;
    font-weight: bold;
    color: #4b6267;
    text-shadow: 0 1px #fff;
    font-size: 14px;
}

.sx-form-fieldset-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0;
}

.sx-backend-form .sx-inline-row label {
    margin-bottom: 0px;
}

.sx-backend-form .control-label {
    font-size: 12px;
    margin-bottom: 2px;
}


.sx-backend-form .select2-container--krajee-bs4 .select2-selection {
    box-shadow: none;
}

.sx-backend-form .select2-container--krajee-bs4.select2-container--open:not(.select2-container--disabled) .select2-selection,
.sx-backend-form .select2-container--krajee-bs4:not(.select2-container--disabled) .select2-selection:focus,
.select2-container--krajee-bs4:not(.select2-container--disabled) .select2-dropdown
{
    border-color: #ced4da !important;
    box-shadow: none !important;
}

.sx-backend-form .select2-container--krajee-bs4 .select2-selection--single .select2-selection__arrow {
    border-left: 1px solid #dbdbdb;
}