ul.sx-view-cms-content > li
{
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    line-height: 50px;
}

ul.sx-view-cms-content > li:hover
{
    background: rgba(192, 192, 192, 0.14);
}
ul.sx-view-cms-content
{
    padding-left: 0px;
    list-style: none;
}

ul.sx-view-cms-content > li .sx-close-btn
{
    color: red;
    display: none;
    line-height: 50px;
}
ul.sx-view-cms-content > li:hover .sx-close-btn
{
    display: block;
}